{
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
