button {
  background: white;
  width: 100%;
  border-radius: 4px;
}

/* CSS transitions */
.slide-down-enter {
  position: relative;
  z-index: 1;
  transform: translate3d(0, -100%, 0);
}

.slide-down-enter.slide-down-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-out;
}

.slide-down-exit {
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.slide-down-exit.slide-down-exit-active {
  transform: translate3d(0, -100%, 0);
  transition: all 0.2s ease-in;
}
