.category-page h1 {
  margin: 0;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #FF8800;
  color: white;
}

.category-page .category-page__input-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.category-page .select {
  font-size: 50px;
  max-height: 40vh;
}
