.costPage {
  h1 {
    background: #acd646;
    line-height: 1.5;
  }

  input {
    max-width: 150px;
    font-size: 50px;
  }

  .content {
    text-align: center;
    button {
      font-size: 40px;
      width: auto;
      margin-top: 10px;
    }
  }
}
